{% extends 'base.html.twig' %}

{% block body %}
		
	{{ form_start(form, { 'attr': {'class': 'formulaire' }, 'attr': {'style': 'width:400px; '}    } ) }}
		<table class="table" style="width: 400px;">
			<tr>
				<th>{{ form_label(form.places, 'Entrer le nombre de palce') }}</th>
				<td style:"width:30px;">{{ form_widget(form.places, { 'attr': {'class': 'form-control'}, 'attr': {'style': 'width:40px;', 'min' : '1'} } ) }}</td>
			</tr>
			<tr>
				<td>
					<a class="btn btn-success" href="{{ path('show_show', {'id': show.id} ) }}" 
					style="text-decoration:none;">Retour</a>
				</td>
				<td><button class="btn btn-primary">Reserver</button></td>
			</tr>
		</table>
	{{ form_end(form) }}
		
{% endblock %}

