{% extends 'base.html.twig' %}

{% block javascripts %} 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
	<script type="text/javascript">
		
		$(function(){
			$(".profil").css({"margin-left": (($(window).width()/2) - 190) + "px"  });
		});
		
		$(window).resize(function(){
			$(".profil").css({"margin-left": (($(window).width()/2) - 190) + "px"  });
		});
		
	</script>
	
{% endblock %}

{% block body %}

<div class="profil">

    <h1 style="text-align:center; margin-left:60px;">Mes reservations</h1>

    <table class="table" style="width: 400px; float:left;">
		
		<tr>
			<th></th>
			{% if app.user.role.getRole == 'admin' %}
				<th>Id</th>
			{% endif %}
			<th>Titre</th><th>Date</th><th>Heure</th><th>Places</th> {# <th>actions</th> #}		
		</tr>
		{% set i = 1%}
        {% for reservation in reservations %}		
			{% if reservations is not empty %}
				<tr>
					<td style="text-align:left;"> {{ i }}.</td>
					{% if app.user.role.getRole == 'admin' %}
						<td style="text-align:left;">{{ reservation.id }}</td>
					{% endif %}
					<td style="text-align:left;">{{ reservation.representation.show.title }}</td>
					<td style="text-align:left;">
						{{ reservation.representation.schedule|date("d/m/Y") }}
					</td>
					<td style="text-align:left;">
						{{ reservation.representation.schedule|date("H:m") }}
					</td>
					<td style="text-align:left;">{{ reservation.places }}</td>
				   {#
					<td>
						<a href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
						<a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>
					</td>
					#}
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucune reservation encore.</td>
				</tr>
			{% endif %}
			{% set i = i + 1 %}
        {% endfor %}	{# #}
		<tr>
		<td colspan="6" style="text-align:center">
			<a href="{{ path('reservation_payement') }}"><button type="" class="btn btn-primary">Payer maintenant !</button></a>
		<td>
		</tr>
		
    </table>

    {# <a href="{{ path('reservation_new') }}">Create new</a> #}
	
</div>

{% endblock %}
