{% extends 'base.html.twig' %}

{% block javascripts %} 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
	<script type="text/javascript">
		
		$(function(){
			if($(window).width() < 1330){
				$(".inscription").css({"margin-left": (($(window).width()/2) - 500) + "px"  });
			}else{
				$(".inscription").css({"margin-left": (($(window).width()/2) - 700) + "px"  });
			}
		});
		
	</script>
	
	<script type="text/javascript">
		
		$(window).resize(function(){
			if($(window).width() < 1330){
				$(".inscription").css({"margin-left": (($(window).width()/2) - 500) + "px"  });
			}else{
				$(".inscription").css({"margin-left": (($(window).width()/2) - 700) + "px"  });
			}
		});
		
	</script>
	
{% endblock %}


{% block body %}
	<div class="inscription" >
		<div style="margin-left:300px;">
			<h1 style="text-align:center;">Modifier : <span style="color:blue;">{{ user.login|capitalize }}</span></h1>		
		</div> 
		
		{#
		{% if pass == 1%}
			<div style='float:right;'>
				{{ include('user/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
			</div>
		{% else %}	
			<div style='float:right;'>
			{{ include('user/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
			</div>
		{% endif %}
		#}
		
		<div style='float:right;'>
			{{ include('user/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
		</div>
		
		<div class='edit_form_btn'>
			<div style='float:left; clear: both; margin-left:36px;'>
				<a href="{{ path('user_profil', {'id' : app.user.id, 'admin': 1}) }}"><button type="" class="btn btn-success">Retour</button></a>
			</div>
			<div style='float:left; margin-left:10px;'>	
				{{ include('user/_delete_form.html.twig') }}
			</div>
		</div>
	</div>	
	<br><br><br>
{% endblock %}
