{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="service">
	<div class="example-wrapper">
		
		<h1>Service administration</h1>

		<br><br>
		<ul>
			<li><a href="{{ path('user') }}">Utilisateurs</a></li>
			<li><a href="{{ path('artist') }}">Artistes</a></li>
			<li>
				{% if importer == 0 %}
					<a href="{{ path('import') }}">Importer spectacles</a>
				{% else %}
					<a href="{{ path('administration') }}">Annuler l import</a>
					{% include 'import/index.html.twig' %}
				{% endif %}
			</li>
			<li><a href="{{ path('export') }}">Exporter spectacles</a></li>
			<li><a href="http://mounirtec.site/api">API Rest</a></li>
		</ul>
	</div>
</div>
{% endblock %}

{% block javascripts %} 
	
	<script  type="text/javascript">
			function succesLoad() {
			    alert("Les spectacles ont ete mis a jour avec succes!");
			}
		</script>
	{% if succes == "succes" %}
		<script  type="text/javascript">succesLoad();</script>
	{% endif %}
	
	<script type="text/javascript">
		
		$(function(){
			$(".service").css({"margin-left": (($(window).width()/2) - 150) + "px"  });
		});
		
	</script>
	
	<script type="text/javascript">
		
		$(window).resize(function(){
			$(".service").css({"margin-left": (($(window).width()/2) - 150) + "px"  });
		});
		
	</script>
	
{% endblock %}